<nav class = "white">
    <div class ="nav-wrapper">
        <a href="/about" class="brand-logo center black-text">Chuck's Tees</a>
        <ul id="nav-mobile" class="center-align">
            <li><a href="/about" class="navAbout">Home</a></li>
            <li><a href="/profile" class="navProfile">Profile</a></li>
            <li><a href="/placeorder" class="navLogin">Place Order</a></li>
            <li><a href="/logout" class="navSignup">Logout</a></li>
        </ul>
    </div>
</nav>
<!--<div class="container">-->
    <!--<div class="row col s12">-->
            <!--<div class="card z-depth-4" id="profileCard">-->
                <!--<div class="card-content white-text red center-align">-->
                    <!--<span class="card-title">Welcome {{ user.user_first_name }}, checkout your information below! Not {{ user.user_first_name }}? Logout <a href="/logout" id="logoutButton"> here</a>.</span>-->
                    <!--<p>-->
                        <!--<strong>Username</strong>: {{user.username }}<br>-->
                        <!--<strong>First Name</strong>: {{ user.user_first_name }}<br>-->
                        <!--<strong>Last Name</strong>: {{ user.user_last_name }}<br>-->
                        <!--<strong>Phone Number</strong>: {{ user.user_number }}<br>-->
                        <!--<strong>Email</strong>: {{ user.user_email }}<br>-->
                <!--</div>-->
            <!--</div>-->
    <!--</div>-->
<!--</div>-->\

    <div class="login-image z-depth-5">
        <div class="card">
            <div class="card-content">
                <h3 class="center"> Profile </h3>
                <strong>Username</strong>: {{user.username }}<br>
                <strong>First Name</strong>: {{ user.user_first_name }}<br>
                <strong>Last Name</strong>: {{ user.user_last_name }}<br>
                <strong>Phone Number</strong>: {{ user.user_number }}<br>
                <strong>Email</strong>: {{ user.user_email }}<br>        </div>
            <div class="card-tabs">
                <ul class="tabs tabs-fixed-width">

                    <li class="tab red-text"><a class="active" href="#test5">Test 1</a></li>
                    <li class="tab red-text"><a class="active" href="#test5">Test 2</a></li>
                    <li class="tab red-text"><a hretf="#test6">Test 3</a></li>
                </ul>
            </div>
            <div class="card-content grey lighten-4">
                <div class = "red" id="test4">Test 1</div>
                <div class = "red" id="test5">Test 2</div>
                <div class = "red" id="test6">Test 3</div>
            </div>
        </div>


    </div>

</div>
<script>

</script>