<nav class = "white">
    <div class ="nav-wrapper">
        <a href="/about" class="brand-logo center black-text">Chuck's Tees</a>
        <ul id="nav-mobile" class="center-align">
            <li><a href="/about" class="navAbout">Home</a></li>
            <li><a href="/profile" class="navProfile">Profile</a></li>
            <li><a href="/placeorder" class="navLogin">Place Order</a></li>
            <li><a href="/logout" class="navSignup">Logout</a></li>
        </ul>
    </div>
</nav>
<!--<div class="container">-->
    <!--<div class="row col s12">-->
            <!--<div class="card z-depth-4" id="profileCard">-->
                <!--<div class="card-content white-text red center-align">-->
                    <!--<span class="card-title">Welcome {{ user.user_first_name }}, checkout your information below! Not {{ user.user_first_name }}? Logout <a href="/logout" id="logoutButton"> here</a>.</span>-->
                    <!--<p>-->
                        <!--<strong>Username</strong>: {{user.username }}<br>-->
                        <!--<strong>First Name</strong>: {{ user.user_first_name }}<br>-->
                        <!--<strong>Last Name</strong>: {{ user.user_last_name }}<br>-->
                        <!--<strong>Phone Number</strong>: {{ user.user_number }}<br>-->
                        <!--<strong>Email</strong>: {{ user.user_email }}<br>-->
                <!--</div>-->
            <!--</div>-->
    <!--</div>-->
<!--</div>-->\

    <div class="login-image z-depth-5">
        <div class="container">
            <div class="card">
                <div class="card-content">
                    <h3 class="center"> Profile </h3>
                    <strong>Username</strong>: {{user.username }}<br>
                    <strong>First Name</strong>: {{ user.user_first_name }}<br>
                    <strong>Last Name</strong>: {{ user.user_last_name }}<br>
                    <strong>Phone Number</strong>: {{ user.user_number }}<br>
                    <strong>Email</strong>: {{ user.user_email }}<br>        </div>
                <div class="card-tabs">
                    <ul class="tabs tabs-fixed-width insertTabs">

                    </ul>
                </div>
                <div class="card-content grey lighten-4 myParentDiv">

                        {{#each orders}}
                            <div class = "red-text">
                                    username:{{this.username}}
                                    quantity: {{this.quantity}}
                                    price: {{this.price}}
                            </div>
                        {{/each}}


                </div>
            </div>

        </div>
    </div>

</div>
<script>
var numOrders = "{{orders.length}}";

for (i=0;i<numOrders;i++){

    $(".insertTabs").append('<li class="tab red-text"><a class="red-text" href="#test' + (i+1) +'">Order ' + (i+1) +'</a></li>')


}
$('div[class="myParentDiv"]').each(function(index,item){
  var i = 1
        $(item).attr("id", "test" + i);
    i++;
});

</script>